:root {
  color: hsl(0, 0%, 100%);
  background-color: hsl(240, 10%, 3.9%);
  /* Define other variables */
}

.dark {
  --background: hsl(240, 10%, 3.9%);
  --foreground: hsl(0, 0%, 98%);
  /* Define other dark mode variables */
}
